*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
svg,
img{
    display: block;
    max-width:100%;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    color: aliceblue;
}
body{
    background-image: url("./images/mtn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h4{
    font-size: 14px;
    font-weight: 300;
}
.error{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    display: none;
}
.degree{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.top{
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.degree > h1{
    font-size: 50px;
    font-weight: 500;

}
.degree > h2{
    font-size: 40px;
    font-weight: 500;

}
.top > img{
    width: 130px;
    margin-bottom: 15px;
}
.weather{
    display: flex;
    justify-content: center;
}
.centre{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin:100px auto 0;
    padding:30px;
    border-radius: 20px;
    background: url("./images/day-time.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
   
   
   
}
.search{
    display: flex;
    text-align: right;
    align-items: center;
    margin-bottom:80px;
    justify-content: center;

}
.search input{
    padding: 10px 20px;
    border:0;
    outline: 0;
    border-radius: 13px;
    font-size: 1rem;
    width:8cm;
    

}
.search button{
    padding: 10px ;
    border:0;
    outline: 0;
    border-radius: 13px;
    margin-left:-4rem;
    font-size: 1rem;
    background-color: darkslateblue;
    cursor: pointer;
   

}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.col{
    display: flex;
    align-items: center;
    gap:1rem;
}
.col img{
    align-items: center;
    width:2rem ;
    height:2rem;
    margin-bottom: 10px;
}
.col p{
    font-size: 14px;
}
.days{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background: url("./images/day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    gap: 4rem;
    padding: 20px;
}
.day img{
    width: 3rem;
    margin-block: 10px 10px;
}
/* styles.css */
body.daytime {
    background-color: #f0f8ff; /* Light blue or any bright color */
    color: #000; /* Dark text for contrast */
}

body.nighttime {
    background-color: #2c3e50; /* Dark blue or any dark color */
    color: #fff; /* Light text for contrast */
}

